.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px 7px 14px;
    gap: 11px;
    width: 118px;
    height: 40px;
    background: var(--primary-400);
    border-radius: 8px;
    color: var(--neutral-light-0);
    border: none;
    cursor: pointer;
    box-shadow: var(--dark-base-default);
    transition: var(--transition-default);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.buttonHover {
    background: var(--primary-500);
    box-shadow: var(--dark-base-hover);
}

.button:focus-visible {
    outline-color: var(--base-white);
    background: var(--primary-500);
    box-shadow: var(--dark-base-hover);
}

.text {
    color: var(--base-white);
}

.clickBtn {
    background: var(--primary-300);
}

.priorityBtn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition-default);
    border-radius: 8px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    cursor: pointer;
    padding: 8px;
}

.priorityBtn:hover {
    box-shadow: var(--shadow-sm-hover);
}

.priorityBtn:focus-visible {
    box-shadow: var(--shadow-sm-hover);
    outline-color: var(--neutral-900);
}
