.link {
    display: flex;
    border-radius: 8px;
    transition: var(--transition-default);
    outline: 2px solid transparent;
    outline-offset: 4px;
}

.logo {
    width: 126px;
    height: 40px;
}

.link:focus-visible {
    outline-color: var(--base-white);
}

