.link {
    display: flex;
    border-radius: 8px;
    padding: 0 2px;
    transition: var(--transition-default);
    outline: 2px solid transparent;
    outline-offset: 6px;
}

.link:focus-visible {
    outline-color: var(--base-white);
}

