.text {
    width: 352px;
    height: 72px;
    text-align: center;
    transition: var(--transition-default);
}

.textLight {
    color: var(--neutral-light-800);
}

.textDark {
    color: var(--neutral-dark-800);
}