.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    transition: var(--transition-default);
    background-color: var(--neutral-100);
    border-right: 1px solid var(--neutral-300);
}

.wrapper path {
    transition: var(--transition-default);
}

.list {
    margin-top: 23px;
    list-style: none;
    transition: var(--transition-default);
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.listElem {
    width: 100%;
    transition: var(--transition-default);
}

.text {
    color: var(--neutral-0);
    transition: var(--transition-default);
}

.link {
    display: flex;
    gap: 11px;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 1px 13px;
    transition: var(--transition-default);
}