.rightArea {
    width: 400px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.rightArea path {
    transition: 0.2s;
}

.rightAreaLight {
    background-color: var(--neutral-light-100);
    border-left: 1px solid var(--neutral-light-300);
}

.rightAreaDark {
    background-color: var(--neutral-dark-100);
    border-left: 1px solid var(--neutral-dark-300);
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    gap: 24px;
    overflow-y: auto;
    min-height: 0;
}

.wrapperImg {
    width: 230px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    transition: 0.2s;
}