.rightArea {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition-default);
    background-color: var(--neutral-100);
    border-left: 1px solid var(--neutral-300);
}

.rightArea path {
    transition: var(--transition-default);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    gap: 24px;
    overflow-y: auto;
    min-height: 0;
    outline: 2px solid transparent;
    transition: var(--transition-default);
}

.wrapper:focus-visible {
    outline-offset: -1px;
    outline-color: var(--base-black);
}

.wrapperImg {
    width: 230px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    transition: var(--transition-default);
}