.main {
    flex: 1;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    overflow: auto;
    transition: var(--transition-default);
}

.mainLight {
    background-color: var(--neutral-light-0);
}

.mainDark {
    background-color: var(--neutral-dark-0);
}

.wrapper {
    position: relative;
    flex: 1;
    max-width: 996px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 190;
}

.title {
    padding: 24px;
    position: sticky;
    z-index: 200;
    top: 0;
    transform: translateZ(0);
    transition: var(--transition-default);
}

.titleLight {
    color: var(--neutral-light-800);
    background: var(--neutral-light-0);
}

.titleDark {
    color: var(--neutral-dark-800);
    background: var(--neutral-dark-0);
}

@media (max-width: 1600px) {
    .title {
        padding-left: 24px;
    }
}