.section {
    flex: 1;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
}

.title {
    padding: 24px;
    position: sticky;
    top: 0;
}

/* @media (max-width: 1600px) {
    .title {
        margin-bottom: 95px;
    }
}

@media (max-width: 1280px) {
    .title {
        margin-bottom: 61px;
    }
} */