.main {
    flex: 1;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    overflow: auto;
    transition: var(--transition-default);
    background-color: var(--neutral-0);
}

.section {
    position: relative;
    flex: 1;
    max-width: 996px;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 190;
}

.titleWrapper {
    position: sticky;
    z-index: 200;
    padding-right: 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateZ(0);
    transition: var(--transition-default);
    background: var(--neutral-0);
}

.title {
    padding: 24px 24px 17px 24px;
    color: var(--neutral-800); 
}

@media (max-width: 1600px) {
    .title {
        padding-left: 24px;
    }
}