.button {
    border: none;
    background: var(--base-800);
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 4px;
    width: 76px;
    height: 40px;
    box-shadow: var(--dark-base-default);
    border-radius: 8px;  
    cursor: pointer;
    transition: var(--transition-default);
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    transition: var(--transition-default);
}

.active {
    background: var(--primary-400);
    box-shadow: var(--dark-base-default);
    transition: var(--transition-default);
}

.button:hover .active {
    background: var(--base-white);
    transition: var(--transition-default);
}

.button:hover .active path {
    fill: var(--base-900);
    transition: var(--transition-default);
}

.button:focus-visible {
    outline-color: var(--base-white);
    transition: var(--transition-default);
}
.button:focus-visible .active {
    background: var(--base-white);
    transition: var(--transition-default);
}
.button:focus-visible .active path {
    fill: var(--base-900);
    transition: var(--transition-default);
}