.wrapper {
    min-height: 0;
    display: flex;
    justify-content: center;
    margin: auto 0;
    transition: var(--transition-default);
}

.list {
    margin-top: 10px;
    padding: 0 22px;
    list-style: none;
}